<nav class="container mt-3">
  <form action="/" method="POST">
    <div class="mb-2">
      <label for="InputURL" class="form-label fs-5">請輸入網址</label>
      <input type="url" name="inputURL" class="form-control fst-italic " id="inputURL" placeholder="Input URL here..."
        required>
    </div>
    <button type="submit" class="btn btn-outline-primary d-grid col-3 mx-auto">Shorten</button>
  </form>
</nav>