<nav class="container mt-3">
  <nav>
    <div class="mb-2">
      <h2>Success! please use this link:</h2>
      <a class="fs-4"  href="{{successURL}}">{{successURL}}</a>
    </div>
    <button href="/" class="btn btn-outline-primary d-grid col-3 mx-auto ">Copy</button>
  </nav>
</nav>