<nav class="container mt-3">
  <nav>
    <div class="mb-2">
      <h2>Success! please use this link:</h2>
      <a class="fs-4" id="copyElement" href="{{successURL}}">{{successURL}}</a>
    </div>
    <button onclick="myFunction()" class="btn btn-outline-primary d-grid col-3 mx-auto ">Copy</button>
  </nav>
</nav>

<script>
  function myFunction() {
    const copyElement = document.querySelector("#copyElement")
    navigator.clipboard.writeText(copyElement);
    alert("短網址已複製: " + copyElement);
  }
</script>